.newsCategories{
    display: flex;
    gap: 15px;
    list-style-type: none;
    background-color: gainsboro ;
    margin: 0%;
    padding: 5px;
}
.linkStyling{
    text-decoration: none;
    color: black;
}